<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570969724670-54d4552e7000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>Movie Night</strong>!</h1>
    <p>Create a watchlist!</p>
    <a class="btn btn-primary" href="#">Add a movie</a>
  </div>
</div>

<div class="row">
  <% @movie.all.each do |movie| %>
    <div class="co-12 col-sm-6 col-md-4" style="border:solid">
      <div class="row">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title"> <%= movie.title %> </h5>
          <img class="card-img-top" src="https://source.unsplash.com/random/150x150" alt="Card image cap">
          <p class="card-text"><%= movie.overview %></p>
      </div>
      </div>
    </div>
  <% end %>
</div>
<%#
<div class="row">
  <div class="co-12 col-sm-6 col-md-4" style="border:solid">
    <h1>test</h1>
  </div>
  <div class="co-12 col-sm-6 col-md-4" style="border:solid">
    <h1>test</h1>
  </div>
  <div class="co-12 col-sm-6 col-md-4" style="border:solid">
    <h1>test</h1>
  </div>
  <div class="co-12 col-sm-6 col-md-4" style="border:solid">
    <h1>test</h1>
  </div>
  <div class="co-12 col-sm-6 col-md-4" style="border:solid">
    <h1>test</h1>
  </div>
  <div class="co-12 col-sm-6 col-md-4" style="border:solid">
    <h1>test</h1>
  </div>
</div> %>
